In [1]:
import warnings
warnings.filterwarnings('ignore')

In [11]:
import os
#os.environ["OPENAI_API_KEY"]=""
os.environ["OPENAI_API_KEY"]=" "

In [12]:
from langchain.llms import OpenAI

In [13]:
model = OpenAI()

In [14]:
model.invoke("who is president of USA provide in json formate")

"\n\nI'm sorry, I cannot provide the current president of the USA in JSON format since it is constantly changing. However, as of October 2021, the current president of the USA is Joe Biden. "

In [15]:
from langchain.prompts import PromptTemplate

In [16]:
json_prompt=PromptTemplate.from_template(template="Return a JSON object with birthdate and birthplace key that answers the following question:{question}")

In [17]:
j_pipe = json_prompt|model

In [18]:
j_pipe.invoke("where did NTR born")

'?\n\n{\n    "birthdate": "May 28, 1923",\n    "birthplace": "Nimmakuru, Andhra Pradesh, India"\n}'

In [19]:
from langchain.output_parsers.json import SimpleJsonOutputParser
json_parser = SimpleJsonOutputParser()

In [20]:
j_pipe1 = json_prompt|model|json_parser

In [83]:
j_pipe1.invoke("where did NTR born")

{'birthdate': 'May 28, 1923', 'birthplace': 'Nimmakuru, Andhra Pradesh, India'}

In [22]:
j_pipe.invoke("where did M.K.Gandhi born")

'\n\n\n{\n  "birthdate": "October 2, 1869",\n  "birthplace": "Porbandar, Gujarat, India"\n}'

In [84]:
j_pipe1.invoke("where did M.K.Gandhi born")

{'birthdate': 'October 2, 1869', 'birthplace': 'Porbandar, Gujarat, India'}

In [24]:
j_pipe.invoke("where did Narendhar Modi born")

'\n\n{\n  "birthdate": "September 17, 1950",\n  "birthplace": "Vadnagar, Bombay State (present-day Gujarat), India"\n}'

In [85]:
j_pipe1.invoke("where did Narendher Modi born")

{'birthdate': 'September 17, 1950',
 'birthplace': 'Vadnagar, Bombay State (now Gujarat), India'}

In [26]:
json_prompt1=PromptTemplate.from_template(template="Return a JSON object with birthdate and birth country key that answers the following question:{question}")

In [27]:
j_pipe2 = json_prompt1|model|json_parser

In [28]:
j_pipe2.invoke("where did Narendher Modi born")

{'birthdate': 'September 17, 1950', 'birth country': 'India'}

In [86]:
j_pipe2.invoke("where did M.K.Gandhi born")

{'birthdate': 'October 2, 1869', 'birth country': 'Porbandar, Gujarat, India'}

In [30]:
json_prompt2=PromptTemplate.from_template(template="Return a JSON object with birthdate and birth city key that answers the following question:{question}")

In [31]:
j_pipe3 = json_prompt2|model|json_parser

In [90]:
j_pipe3.invoke("where did M.K.Gandhi born provide me in json format")

{'birthdate': 'October 2, 1869', 'birth city': 'Porbandar, Gujarat, India'}

In [91]:
r1=j_pipe3.invoke("where did M.K.Gandhi provide me in json format")

In [92]:
type(r1)

dict

In [93]:
r1

{'birthdate': 'October 2, 1869', 'birth city': 'Porbandar, Gujarat, India'}

In [94]:
if len(r1["birth city"].split()) == 3:
    print(r1["birth city"].split()[2])

India

In [95]:
from langchain.output_parsers import CommaSeparatedListOutputParser

In [96]:
output_parser = CommaSeparatedListOutputParser()

In [39]:
format_instructions = output_parser.get_format_instructions()

In [40]:
prompt = PromptTemplate(
template="List five {subject}.\n{format_instructions}",
input_variables=["subject"],
partial_variables={"format_instructions": format_instructions}
)

In [41]:
query = "Indian Premier League Teams"

In [42]:
output = model(prompt.format(subject=query))

C:\Users\Sreedhar\AppData\Local\Temp\ipykernel_15444\3743035748.py:1: LangChainDeprecationWarning: The method `BaseLLM.__call__` was deprecated in langchain-core 0.1.7 and will be removed in 1.0. Use :meth:`~invoke` instead.
  output = model(prompt.format(subject=query))

In [43]:
output

'\n\nMumbai Indians, Chennai Super Kings, Kolkata Knight Riders, Royal Challengers Bangalore, Sunrisers Hyderabad'

In [44]:
parsed_result = output_parser.parse(output)

In [45]:
parsed_result

['Mumbai Indians',
 'Chennai Super Kings',
 'Kolkata Knight Riders',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad']

In [46]:
query = "Top 5 populated cities in India"

In [47]:
output = model(prompt.format(subject=query))

In [48]:
output

'\nMumbai, Delhi, Bangalore, Hyderabad, Ahmedabad'

In [49]:
parsed_result = output_parser.parse(output)

In [50]:
parsed_result

['Mumbai', 'Delhi', 'Bangalore', 'Hyderabad', 'Ahmedabad']

In [51]:
# top most populated cities in the world
# top most visited tourist places in India
# top most visited tourist places in the world
# top most snowfall places in india
# top most difficult entrance exams in india
# top most educated cities in india

In [54]:
#!pip freeze

In [61]:
query = "top most populated cities in the world"
output = model(prompt.format(subject=query))
output

'\n\n1. Tokyo, Japan\n2. Delhi, India\n3. Shanghai, China\n4. Beijing, China\n5. Mumbai, India'

In [62]:
parsed_result = output_parser.parse(output)
parsed_result

['1. Tokyo',
 'Japan',
 '2. Delhi',
 'India',
 '3. Shanghai',
 'China',
 '4. Beijing',
 'China',
 '5. Mumbai',
 'India']

In [63]:
query = "top most visited tourist places in India"
output = model(prompt.format(subject=query))
output

'\n\nTaj Mahal, Goa, Kerala, Jaipur, Ladakh'

In [65]:
parsed_result = output_parser.parse(output)
parsed_result

['Taj Mahal', 'Goa', 'Kerala', 'Jaipur', 'Ladakh']

In [66]:
query = "top most visited tourist places in the world"
output = model(prompt.format(subject=query))
output

'\n\n1. Paris, France\n2. New York City, United States\n3. London, United Kingdom\n4. Bangkok, Thailand\n5. Dubai, United Arab Emirates'

In [67]:
parsed_result = output_parser.parse(output)
parsed_result

['1. Paris',
 'France',
 '2. New York City',
 'United States',
 '3. London',
 'United Kingdom',
 '4. Bangkok',
 'Thailand',
 '5. Dubai',
 'United Arab Emirates']

In [68]:
query = "top most snowfall places in india"
output = model(prompt.format(subject=query))
output

'\n\n1. Gulmarg, Jammu and Kashmir\n2. Shimla, Himachal Pradesh\n3. Manali, Himachal Pradesh\n4. Auli, Uttarakhand \n5. Sonamarg, Jammu and Kashmir'

In [69]:
parsed_result = output_parser.parse(output)
parsed_result

['1. Gulmarg',
 'Jammu and Kashmir',
 '2. Shimla',
 'Himachal Pradesh',
 '3. Manali',
 'Himachal Pradesh',
 '4. Auli',
 'Uttarakhand ',
 '5. Sonamarg',
 'Jammu and Kashmir']

In [71]:
query = "top most difficult entrance exams in india"
output = model(prompt.format(subject=query))
output

'\n\n1. Joint Entrance Examination (JEE) Main\n2. All India Institute of Medical Sciences (AIIMS) MBBS Entrance Exam\n3. Common Admission Test (CAT)\n4. National Eligibility-cum-Entrance Test (NEET) UG\n5. Union Public Service Commission (UPSC) Civil Services Exam'

In [72]:
parsed_result = output_parser.parse(output)
parsed_result

['1. Joint Entrance Examination (JEE) Main',
 '2. All India Institute of Medical Sciences (AIIMS) MBBS Entrance Exam',
 '3. Common Admission Test (CAT)',
 '4. National Eligibility-cum-Entrance Test (NEET) UG',
 '5. Union Public Service Commission (UPSC) Civil Services Exam']

In [73]:
query = "top most educated cities in india"
output = model(prompt.format(subject=query))
output

'\n\n1. Bengaluru\n2. Pune\n3. Hyderabad\n4. Chennai\n5. Mumbai'

In [74]:
parsed_result = output_parser.parse(output)
parsed_result

['1. Bengaluru', '2. Pune', '3. Hyderabad', '4. Chennai', '5. Mumbai']

In [77]:
prompt = PromptTemplate(
template="{subject}.\n{format_instructions}",
input_variables=["subject"],
partial_variables={"format_instructions": format_instructions}
)
query = "What is the world population"
output = model(prompt.format(subject=query))
output

'\n\n7.8 billion'

In [78]:
parsed_result = output_parser.parse(output)
parsed_result

['7.8 billion']

In [79]:
query = "What is the whole population of india"
output = model(prompt.format(subject=query))
output

'\n\nAs of 2021, the whole population of India is approximately 1,393,409,038.'

In [80]:
parsed_result = output_parser.parse(output)
parsed_result

['As of 2021',
 'the whole population of India is approximately 1',
 '393',
 '409',
 '038.']

In [81]:
query = "Who are the captions of IPL Teams"
output = model(prompt.format(subject=query))
output

'\n\n1. Rohit Sharma\n2. KL Rahul\n3. Virat Kohli\n4. Shreyas Iyer\n5. David Warner\n6. Mahendra Singh Dhoni\n7. Steve Smith\n8. Dinesh Karthik\n9. Kane Williamson\n10. Ajinkya Rahane\n11. Rishabh Pant\n12. Shikhar Dhawan\n13. Eoin Morgan\n14. Kieron Pollard\n15. Sanju Samson'

In [82]:
parsed_result = output_parser.parse(output)
parsed_result

['1. Rohit Sharma',
 '2. KL Rahul',
 '3. Virat Kohli',
 '4. Shreyas Iyer',
 '5. David Warner',
 '6. Mahendra Singh Dhoni',
 '7. Steve Smith',
 '8. Dinesh Karthik',
 '9. Kane Williamson',
 '10. Ajinkya Rahane',
 '11. Rishabh Pant',
 '12. Shikhar Dhawan',
 '13. Eoin Morgan',
 '14. Kieron Pollard',
 '15. Sanju Samson']

In [97]:
query = "provide me the top 10 countries which has the best military power"
output = model(prompt.format(subject=query))
output

'\n\n1. United States\n2. Russia\n3. China\n4. India\n5. United Kingdom\n6. France\n7. Japan\n8. South Korea\n9. Germany\n10. Israel'

In [98]:
parsed_result = output_parser.parse(output)
parsed_result

['1. United States',
 '2. Russia',
 '3. China',
 '4. India',
 '5. United Kingdom',
 '6. France',
 '7. Japan',
 '8. South Korea',
 '9. Germany',
 '10. Israel']

In [105]:
json_prompt_4=PromptTemplate.from_template(template="Return a JSON object with Hero and films acted key that answers the following question:{question}")

In [106]:
j_pipe4 = json_prompt_4|model|json_parser

In [108]:
j_pipe4.invoke("Provide me about Ram charan in json format")

{'Hero': 'Ram charan',
 'Films Acted': ['Chirutha',
  'Magadheera',
  'Racha',
  'Naayak',
  'Yevadu',
  'Govindudu Andarivadele',
  'Bruce Lee: The Fighter',
  'Dhruva',
  'Rangasthalam',
  'Vinaya Vidheya Rama']}